/* No alert, no modal */
/* ------------------------------------------------------------------ */
[data-url*=".framaboard.org/"] #f-alert,
[data-url*="://framabookin.org/b"] #f-alert,
[data-url*="://framacarte.org"][data-url*="/map/"] #f-alert,
[data-url*="://framacolibri.org"] #f-alert,
[data-url*="://framinetest.org/carte/"] #f-alert,
[data-url*="://framanews.org/ttrss"] #f-alert,
[data-url*="://framapack.org/admin/"] #f-alert,
[data-url*="://framateam.org"] #f-alert,
[data-url*="://framatube.org"][data-url*="/embed_player"] #f-alert,
[data-url*="://framavox.org"] #f-alert,
[data-url*="://bot.framasoft.org"] #f-alert,
[data-url*="://my.framasoft.org"][data-url*="source=bookmarklet"] #f-alert,
[data-url*="://status.framasoft.org"] #f-alert,
[data-url*="://connard.pro"] #f-alert,
[data-url*="://degooglisons-internet.org"] #f-alert,
[data-url*="://contributopia.org"] #f-alert,
[data-inframe="true"] #f-alert {
  display: none !important; }
[data-url*=".framaboard.org/"] #f-modal-info[style],
[data-url*=".framaboard.org/"] #f-modal-info[style] + .modal-backdrop,
[data-url*=".framaboard.org/"] #f-modal-soutenir[style],
[data-url*=".framaboard.org/"] #f-modal-soutenir[style] + .modal-backdrop,
[data-url*="://framabookin.org/b"] #f-modal-info[style],
[data-url*="://framabookin.org/b"] #f-modal-info[style] + .modal-backdrop,
[data-url*="://framabookin.org/b"] #f-modal-soutenir[style],
[data-url*="://framabookin.org/b"] #f-modal-soutenir[style] + .modal-backdrop,
[data-url*="://framacarte.org"][data-url*="/map/"] #f-modal-info[style],
[data-url*="://framacarte.org"][data-url*="/map/"] #f-modal-info[style] + .modal-backdrop,
[data-url*="://framacarte.org"][data-url*="/map/"] #f-modal-soutenir[style],
[data-url*="://framacarte.org"][data-url*="/map/"] #f-modal-soutenir[style] + .modal-backdrop,
[data-url*="://framacolibri.org"] #f-modal-info[style],
[data-url*="://framacolibri.org"] #f-modal-info[style] + .modal-backdrop,
[data-url*="://framacolibri.org"] #f-modal-soutenir[style],
[data-url*="://framacolibri.org"] #f-modal-soutenir[style] + .modal-backdrop,
[data-url*="://framinetest.org/carte/"] #f-modal-info[style],
[data-url*="://framinetest.org/carte/"] #f-modal-info[style] + .modal-backdrop,
[data-url*="://framinetest.org/carte/"] #f-modal-soutenir[style],
[data-url*="://framinetest.org/carte/"] #f-modal-soutenir[style] + .modal-backdrop,
[data-url*="://framanews.org/ttrss"] #f-modal-info[style],
[data-url*="://framanews.org/ttrss"] #f-modal-info[style] + .modal-backdrop,
[data-url*="://framanews.org/ttrss"] #f-modal-soutenir[style],
[data-url*="://framanews.org/ttrss"] #f-modal-soutenir[style] + .modal-backdrop,
[data-url*="://framapack.org/admin/"] #f-modal-info[style],
[data-url*="://framapack.org/admin/"] #f-modal-info[style] + .modal-backdrop,
[data-url*="://framapack.org/admin/"] #f-modal-soutenir[style],
[data-url*="://framapack.org/admin/"] #f-modal-soutenir[style] + .modal-backdrop,
[data-url*="://framateam.org"] #f-modal-info[style],
[data-url*="://framateam.org"] #f-modal-info[style] + .modal-backdrop,
[data-url*="://framateam.org"] #f-modal-soutenir[style],
[data-url*="://framateam.org"] #f-modal-soutenir[style] + .modal-backdrop,
[data-url*="://framatube.org"][data-url*="/embed_player"] #f-modal-info[style],
[data-url*="://framatube.org"][data-url*="/embed_player"] #f-modal-info[style] + .modal-backdrop,
[data-url*="://framatube.org"][data-url*="/embed_player"] #f-modal-soutenir[style],
[data-url*="://framatube.org"][data-url*="/embed_player"] #f-modal-soutenir[style] + .modal-backdrop,
[data-url*="://framavox.org"] #f-modal-info[style],
[data-url*="://framavox.org"] #f-modal-info[style] + .modal-backdrop,
[data-url*="://framavox.org"] #f-modal-soutenir[style],
[data-url*="://framavox.org"] #f-modal-soutenir[style] + .modal-backdrop,
[data-url*="://bot.framasoft.org"] #f-modal-info[style],
[data-url*="://bot.framasoft.org"] #f-modal-info[style] + .modal-backdrop,
[data-url*="://bot.framasoft.org"] #f-modal-soutenir[style],
[data-url*="://bot.framasoft.org"] #f-modal-soutenir[style] + .modal-backdrop,
[data-url*="://my.framasoft.org"][data-url*="source=bookmarklet"] #f-modal-info[style],
[data-url*="://my.framasoft.org"][data-url*="source=bookmarklet"] #f-modal-info[style] + .modal-backdrop,
[data-url*="://my.framasoft.org"][data-url*="source=bookmarklet"] #f-modal-soutenir[style],
[data-url*="://my.framasoft.org"][data-url*="source=bookmarklet"] #f-modal-soutenir[style] + .modal-backdrop,
[data-url*="://status.framasoft.org"] #f-modal-info[style],
[data-url*="://status.framasoft.org"] #f-modal-info[style] + .modal-backdrop,
[data-url*="://status.framasoft.org"] #f-modal-soutenir[style],
[data-url*="://status.framasoft.org"] #f-modal-soutenir[style] + .modal-backdrop,
[data-url*="://connard.pro"] #f-modal-info[style],
[data-url*="://connard.pro"] #f-modal-info[style] + .modal-backdrop,
[data-url*="://connard.pro"] #f-modal-soutenir[style],
[data-url*="://connard.pro"] #f-modal-soutenir[style] + .modal-backdrop,
[data-url*="://degooglisons-internet.org"] #f-modal-info[style],
[data-url*="://degooglisons-internet.org"] #f-modal-info[style] + .modal-backdrop,
[data-url*="://degooglisons-internet.org"] #f-modal-soutenir[style],
[data-url*="://degooglisons-internet.org"] #f-modal-soutenir[style] + .modal-backdrop,
[data-url*="://contributopia.org"] #f-modal-info[style],
[data-url*="://contributopia.org"] #f-modal-info[style] + .modal-backdrop,
[data-url*="://contributopia.org"] #f-modal-soutenir[style],
[data-url*="://contributopia.org"] #f-modal-soutenir[style] + .modal-backdrop,
[data-inframe="true"] #f-modal-info[style],
[data-inframe="true"] #f-modal-info[style] + .modal-backdrop,
[data-inframe="true"] #f-modal-soutenir[style],
[data-inframe="true"] #f-modal-soutenir[style] + .modal-backdrop {
  display: none !important; }
[data-url*=".framaboard.org/"] .modal-open,
[data-url*="://framabookin.org/b"] .modal-open,
[data-url*="://framacarte.org"][data-url*="/map/"] .modal-open,
[data-url*="://framacolibri.org"] .modal-open,
[data-url*="://framinetest.org/carte/"] .modal-open,
[data-url*="://framanews.org/ttrss"] .modal-open,
[data-url*="://framapack.org/admin/"] .modal-open,
[data-url*="://framateam.org"] .modal-open,
[data-url*="://framatube.org"][data-url*="/embed_player"] .modal-open,
[data-url*="://framavox.org"] .modal-open,
[data-url*="://bot.framasoft.org"] .modal-open,
[data-url*="://my.framasoft.org"][data-url*="source=bookmarklet"] .modal-open,
[data-url*="://status.framasoft.org"] .modal-open,
[data-url*="://connard.pro"] .modal-open,
[data-url*="://degooglisons-internet.org"] .modal-open,
[data-url*="://contributopia.org"] .modal-open,
[data-inframe="true"] .modal-open {
  overflow: auto; }

/* No alert only */
/* ------------------------------------------------------------------ */
/* Ethercalc */
[data-url*="framacalc.org/"]:not([data-url$="/_start"]):not([data-url$="framacalc.org/"]) #f-alert,
[data-url*="://framacarte.org"][data-url*="/map/"] #f-alert,
[data-url*=".frama.site/admin"] #f-alert,
[data-url*="://framadrive.org"][data-url*="index.php/app"]:not([data-url*="registration"]) #f-alert,
[data-url*="://framadrive.org"][data-url*="index.php/setting"] #f-alert,
[data-url*="://mypads.framapad.org"] #f-alert,
[data-url*=".framapad.org/p/"] #f-alert,
[data-url*="://framindmap.org/c/maps"][data-url*="/edit"] #f-alert,
[data-url*="://framaestro.org/p/"] #f-alert,
[data-url*="://framapiaf.org"]:not([data-url*="/about"]) #f-alert,
[data-url*="://framavectoriel.org/svg-editor"] #f-alert,
[data-url*="://docs.framasoft.org"] #f-alert,
[data-url*="://framacloud.org"] #f-alert,
[data-url*="://participer.framasoft.org"] #f-alert {
  display: none !important; }

/* No header only */
/* ------------------------------------------------------------------ */
[data-url*="://my.framasoft.org"][data-url*="source=bookmarklet"] {
  /* MyFrama popup */ }
  [data-url*="://my.framasoft.org"][data-url*="source=bookmarklet"] #f-header {
    display: none; }
